@use './font.scss' as *;
@use './color.scss' as *;

html {
  font-size: 62.5% !important;
}
body {
  font-family: 'SpoqaHanSansNeo','sans-serif';
  font-size: 1.6rem;
  letter-spacing: -0.01em;
}
body {
  a,
  button {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }
  // container
  .v-row {
    margin: 0;
  }
  .v-col {
    padding: 0;
  }
  // icon
  .v-icon {
    // defult size 2.4rem
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-position: center center;
    background-position: center center;
    &.v-icon--size-small {
      width: 1.6rem !important;
      height: 1.6rem !important;
    }
    &.v-icon--size-large {
      width: 3.2rem !important;
      height: 3.2rem !important;
    }
    // 16px
    &.arrow_black {
      background-image: url('/src/assets/images/icon/icon_16_arrow_black.svg');
    }
    &.question_gray {
      background-image: url('/src/assets/images/icon/icon_16_question_gray.svg');
    }
    // 20px
    &.rotate_black,
    &.open_black,
    &.delete_gray {
      width: 2rem;
      height: 2rem;
    }
    &.delete_gray {
      background-image: url('/src/assets/images/icon/icon_20_delete_gray.svg');
    }
    &.open_black {
      background-image: url('/src/assets/images/icon/icon_20_open_black.svg');
    }
    &.rotate_black {
      background-image: url('/src/assets/images/icon/icon_20_rotate_black.svg');
    }
    // 24px
    &.export_white {
      background-image: url('/src/assets/images/icon/icon_24_export_white.svg');
    }
    &.top_black {
      background-image: url('/src/assets/images/icon/icon_24_top_black.svg');
    }
    &.search_white {
      background-image: url('/src/assets/images/icon/icon_24_search_white.svg');
    }
    &.heart_white {
      background-image: url('/src/assets/images/icon/icon_24_heart_white.svg');
    }
    &.close_black {
      background-image: url('/src/assets/images/icon/icon_24_close_black.svg');
    }
    &.family_card_01 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_01.svg');
    }
    &.family_card_02 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_02.svg');
    }
    &.family_card_03 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_03.svg');
    }
    &.family_card_04 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_04.svg');
    }
    &.mastercard {
      width: 3.2rem;
      height: 2rem;
      background-image: url('/src/assets/images/icon/icon_32_20_mastercard.svg');
    }
  }
  // btn
  .v-btn {
    letter-spacing: -0.01em;
    &.v-btn--size-x-small,
    &.v-btn--size-small,
    &.v-btn--size-default,
    &.v-btn--size-large,
    &.v-btn--size-x-large {
      &,
      &:hover,
      &:focus {
        box-shadow: none;
      }
      &.v-btn--variant-outlined {
        .v-btn__overlay {
          display: none;
        }
      }
      &.rounded-xs {
        border-radius: .2rem !important;
      }
    }
    &.v-btn--size-small,
    &.v-btn--size-default,
    &.v-btn--size-large,
    &.v-btn--size-x-large {
      border-radius: .8rem !important;
    }
    &.v-btn--size-x-small {
      @extend .button_14;
      height: 3.6rem !important;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      border-radius: .6rem !important;
      &.rounded-xl {
        border-radius: 1.8rem !important;
      }
    }
    &.v-btn--size-small {
      @extend .button_14;
      height: 3.8rem !important;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
    &.v-btn--size-default:not(.v-btn--variant-text) {
      @extend .button_14;
      height: 4.8rem !important;
    }
    &.v-btn--size-large {
      @extend .button_16;
      height: 4.8rem !important;
      @media (min-width: 1100px) {
        height: 5.6rem !important;
      }
      &.v-btn--icon {
        min-width: 4.8rem !important;
        width: 4.8rem;
      }
    }
    &.v-btn--size-x-large {
      height: 5.4rem !important;
      &.v-btn--icon {
        width: 5.4rem;
        border-radius: 50% !important;
      }
    }
    &.v-btn--variant-text {
      min-width: inherit;
      height: inherit;
      padding: 0;
      line-height: 1.2em;
      border-radius: 0 !important;
      &.underline {
        border-bottom: .1rem solid #000;
      }
      .v-ripple__container,
      .v-btn__overlay {
        display: none;
      }
    }
    &.bg-primary {
      &.v-btn--disabled {
        color: #91A1B2 !important;
        background-color: #D0DAE6 !important;
      }
    }
    &.bg-secondary {
      color: #494F60 !important;
      &.v-btn--disabled {
        color: #B2B8C9 !important;
        background-color: #EDF0F8 !important;
      }
    }
    &.bg-tertiary {
      color: #FFFFFF;
      &.v-btn--disabled {
        color: #AAAAAA;
        background-color: #494F60;
      }
    }
    &.bg-white {
      &.v-btn--disabled {
        color: #CCCCCC !important;
      }
    }
    &.text-black.v-btn--variant-outlined {
      border-color: #CCCCCC;
      &.v-btn--disabled {
        color: #CCCCCC;
        border-color: #DDDDDD;
      }
    }
    &.v-btn--disabled {
      .v-btn__overlay {
        display: none;
      }
    }
  }
  // btn group
  .v-btn-group {
    &.regular,
    &.large {
      overflow: inherit;
      width: 100%;
      margin: 1.6rem 0;
      border-radius: 0;
      .v-btn {
        flex: 1 1 auto;
        min-width: 30%;
        &+.v-btn {
          margin-left: .8rem;
        }
        &.v-btn--icon {
          flex: 0 0 auto;
        }
      }
    }
    &.regular {
      justify-content: center;
      .v-btn {
        max-width: 40rem;
      }
    }
    &.x-large {
      height: 5.4rem;
      border-radius: 2.7rem;
      .v-btn--icon {
        border-radius: 0 !important;
        &+.v-btn--icon::before {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 1.6rem;
          top: 50%;
          margin-top: -.8rem;
          background-color: #494F60;
        }
      }
    }
  }
  .v-tabs {
    max-width: 36rem;
    height: inherit;
    .v-slide-group__prev,
    .v-slide-group__next {
      display: none;
    }
    .v-tab {
      min-width: 7.4rem;
      height: 4.2rem !important;
      padding: 0 1.2rem;
      &.v-btn {
        min-width: auto;
      }
      &.title_18 {
        font-weight: 400;
      }
      &--selected {
        &.title_18 {
          font-weight: 700;
        }
      }
      .v-btn__content {
        position: relative;
        width: 100%;
        height: 100%;
      }
      &__slider {
        width: 100%;
      }
    }
    &.underline {
      border-bottom: 0.1rem solid map-get($colorGroup, 'gray-030');
    }
  }
  // checkbox
  .v-checkbox.v-input {
    display: inline-block;
    @extend .text_16;
    .v-selection-control {
      min-height: inherit;
      align-items: flex-start;
      .v-icon {
        background-image: url('/src/assets/images/icon/icon_checkbox_off.svg');
        svg {
          display: none;
        }
      }
      // disabled
      &.v-selection-control--disabled {
        opacity: 1;
        .v-icon {
          background-image: url('/src/assets/images/icon/icon_checkbox_disabled_off.svg');
        }
      }
      // checked
      &.v-selection-control--dirty {
        .v-icon {
          background-image: url('/src/assets/images/icon/icon_checkbox_on.svg');
        }
        // disabled
        &.v-selection-control--disabled {
          .v-icon {
            background-image: url('/src/assets/images/icon/icon_checkbox_disabled_on.svg');
          }
        }
      }
      .v-selection-control__wrapper {
        width: 2.4rem;
        height: 2.4rem;
      }
      .v-label {
        min-height: 2.4rem;
        padding-left: .8rem;
        padding-top: .2rem;
        font-size: inherit;
        opacity: 1;
      }
    }
    &.small {
      .v-selection-control {
        .v-icon {
          background-image: url('/src/assets/images/icon/icon_checkbox_sm_off.svg');
        }
        // checked
        &.v-selection-control--dirty {
          .v-icon {
            background-image: url('/src/assets/images/icon/icon_checkbox_sm_on.svg');
          }
        }
        &.v-selection-control--disabled {
          opacity: 0.5;
        }
      }
      .v-label {
        padding-left: .4rem;
      }
    } 
  }
  // radio group button type
  .v-radio-group.type_button {
    * {
      // outline: 1px solid pink;
    }
    .v-selection-control-group {
      flex-direction: row;
      .v-radio {
        position: relative;
        @extend .button_14;
        &+.v-radio {
          margin-left: .8rem;
        }
        // icon
        .v-selection-control__wrapper {
          overflow: hidden;
          position:absolute;
          width: 0;
          height: 0;
          z-index: -1;
        }
        .v-label {
          display: flex;
          width: 100%;
          min-height: 4.8rem;
          border-radius: .8rem;
          text-align: center;
          font-size: initial;
          font-weight: bold;
          
          color: #38395A;
          opacity: 1;
          align-items: center;
          justify-content: center;
          border: 1px solid #DDDDDD;
        }
        // selected
        &.v-selection-control--dirty {
          .v-label {
            border: 1px solid #38395A !important;
            color:#000;
            box-shadow: 0 4px 4px 0 rgba(#000, 10%);
            .radio_button {
              min-height: 100%;
            }
          }
        }
      }
    }
  }
  .radio_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.6rem 2rem;
    p {
      @extend .button_14;
      font-weight: bold;
      color: #000;
    }
    p + div {
      @extend .button_14;
      margin-top: .8rem;
    }
    @media (min-width: 1100px) {
      flex-direction: row;
      justify-content: space-between;
      p + div {
        margin-top: 0;
      }
    }
  }
  .v-tooltip {
    .custom-tooltip {
      max-width: 21.6rem !important;
      padding: 0 !important;
      border: 0.1rem solid #000; // 컴포넌트 확인용 임시 border
      background-color: #fff !important;
      color: #000 !important;
      &-content {
        position: relative;
        padding: 1.6rem 3.6rem 1.6rem 1.6rem;
        &-text {
          .text_12 {
            font-weight: 400;
            &.title {
              font-weight: 700;
            }
          }
        }
        .btn-close {
          position: absolute;
          top: 1.6rem;
          right: 1.2rem;
          width: 1.6rem;
          min-width: auto;
          height: 1.6rem !important;
          padding: 0;
          pointer-events: auto;
          .v-icon {
            width: 100% !important;
            height: 100% !important; 
          }
        }
      }
    }
  }
  .v-divider {
    opacity: 1;
    border-color: #eee;
    border-top-width: 0.1rem;
    &.v-theme {
      &--dashed {
        border-top-style: dotted;
      }
      &--large {
        border-top-width: 1.2rem;
      }
    }
    &--vertical {
      height: 3rem;
    }
  }
  .v-snackbar {
    &__wrapper {
      bottom: 7.2rem;
      max-width: 28rem;
      border-radius: 1rem;
      box-shadow: 0 0.8rem 1.6rem 0 rgba(#000, 0.4);
      background-color: rgba(#050F26, 0.8);
    }
    &__content {
      padding: 1rem 1.6rem 0.8rem;
      text-align: center;
    }
  }
}
