@use './font.scss' as *;
@use './color.scss' as *;

html {
  font-size: 62.5% !important;
}
body {
  font-family: 'SpoqaHanSansNeo','sans-serif';
  font-size: 1.6rem;
  letter-spacing: -0.01em;
}
body {
  a,
  button {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }
  // container
  .v-row {
    margin: 0;
  }
  .v-col {
    padding: 0;
  }
  // icon
  .v-icon {
    // defult size 2.4rem
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    &.v-icon--size-small {
      width: 1.6rem !important;
      height: 1.6rem !important;
    }
    &.v-icon--size-large {
      width: 3.2rem !important;
      height: 3.2rem !important;
    }
    // 16px
    &.arrow_black {
      background-image: url('/src/assets/images/icon/icon_16_arrow_black.svg');
    }
    &.question_gray {
      background-image: url('/src/assets/images/icon/icon_16_question_gray.svg');
    }
    // 20px
    &.delete_gray {
      width: 2rem;
      height: 2rem;
      background-image: url('/src/assets/images/icon/icon_20_delete_gray.svg');
    }
    &.open_black {
      width: 2rem;
      height: 2rem;
      background-image: url('/src/assets/images/icon/icon_20_open_black.svg');
    }
    &.rotate_black {
      width: 2rem;
      height: 2rem;
      background-image: url('/src/assets/images/icon/icon_20_rotate_black.svg');
    }
    // 24px
    &.export_white {
      background-image: url('/src/assets/images/icon/icon_24_export_white.svg');
    }
    &.top_black {
      background-image: url('/src/assets/images/icon/icon_24_top_black.svg');
    }
    &.search_white {
      background-image: url('/src/assets/images/icon/icon_24_search_white.svg');
    }
    &.heart_white {
      background-image: url('/src/assets/images/icon/icon_24_heart_white.svg');
    }
    &.close_black {
      background-image: url('/src/assets/images/icon/icon_24_close_black.svg');
    }
    &.family_card_01 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_01.svg');
    }
    &.family_card_02 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_02.svg');
    }
    &.family_card_03 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_03.svg');
    }
    &.family_card_04 {
      background-image: url('/src/assets/images/icon/icon_24_family_card_04.svg');
    }
  }
  // btn
  .v-btn {
    letter-spacing: -0.01em;
    &.v-btn--size-x-small,
    &.v-btn--size-small,
    &.v-btn--size-default,
    &.v-btn--size-large,
    &.v-btn--size-x-large {
      &,
      &:hover,
      &:focus {
        box-shadow: none;
      }
      &.v-btn--variant-outlined {
        .v-btn__overlay {
          display: none;
        }
      }
      &.rounded-xs {
        border-radius: .2rem !important;
      }
    }
    &.v-btn--size-small,
    &.v-btn--size-default,
    &.v-btn--size-large,
    &.v-btn--size-x-large {
      border-radius: .8rem !important;
    }
    &.v-btn--size-x-small {
      @extend .button_14;
      height: 3.6rem !important;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      border-radius: .6rem !important;
      &.rounded-xl {
        border-radius: 1.8rem !important;
      }
    }
    &.v-btn--size-small {
      @extend .button_14;
      height: 3.8rem !important;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
    &.v-btn--size-default:not(.v-btn--variant-text) {
      @extend .button_14;
      height: 4.8rem !important;
    }
    &.v-btn--size-large {
      @extend .button_16;
      height: 4.8rem !important;
      @media (min-width: 1100px) {
        height: 5.6rem !important;
      }
      &.v-btn--icon {
        min-width: 4.8rem !important;
        width: 4.8rem;
      }
    }
    &.v-btn--size-x-large {
      height: 5.4rem !important;
      &.v-btn--icon {
        width: 5.4rem;
        border-radius: 50% !important;
      }
    }
    &.v-btn--variant-text {
      min-width: inherit;
      height: inherit;
      padding: 0;
      line-height: 1.2em;
      border-radius: 0 !important;
      &.underline {
        border-bottom: .1rem solid #000;
      }
      .v-ripple__container,
      .v-btn__overlay {
        display: none;
      }
    }
    &.bg-primary {
      &.v-btn--disabled {
        color: #91A1B2 !important;
        background-color: #D0DAE6 !important;
      }
    }
    &.bg-secondary {
      color: #494F60 !important;
      &.v-btn--disabled {
        color: #B2B8C9 !important;
        background-color: #EDF0F8 !important;
      }
    }
    &.bg-tertiary {
      color: #FFFFFF;
      &.v-btn--disabled {
        color: #AAAAAA;
        background-color: #494F60;
      }
    }
    &.bg-white {
      &.v-btn--disabled {
        color: #CCCCCC !important;
      }
    }
    &.text-black.v-btn--variant-outlined {
      border-color: #CCCCCC;
      &.v-btn--disabled {
        color: #CCCCCC;
        border-color: #DDDDDD;
      }
    }
    &.v-btn--disabled {
      .v-btn__overlay {
        display: none;
      }
    }
  }
  // btn group
  .v-btn-group {
    &.regular,
    &.large {
      overflow: inherit;
      width: 100%;
      margin: 1.6rem 0;
      border-radius: 0;
      .v-btn {
        flex: 1 1 auto;
        min-width: 30%;
        &+.v-btn {
          margin-left: .8rem;
        }
        &.v-btn--icon {
          flex: 0 0 auto;
        }
      }
    }
    &.regular {
      justify-content: center;
      .v-btn {
        max-width: 40rem;
      }
    }
    &.x-large {
      height: 5.4rem;
      border-radius: 2.7rem;
      .v-btn--icon {
        border-radius: 0 !important;
        &+.v-btn--icon::before {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 1.6rem;
          top: 50%;
          margin-top: -.8rem;
          background-color: #494F60;
        }
      }
    }
  }
  .v-tabs {
    max-width: 36rem;
    height: inherit;
    .v-slide-group__prev,
    .v-slide-group__next {
      display: none;
    }
    .v-tab {
      min-width: 7.4rem;
      height: 4.2rem !important;
      padding: 0 1.2rem;
      &.v-btn {
        min-width: auto;
      }
      &.title_18 {
        font-weight: 400;
      }
      &--selected {
        &.title_18 {
          font-weight: 700;
        }
      }
      .v-btn__content {
        position: relative;
        width: 100%;
        height: 100%;
      }
      &__slider {
        width: 100%;
      }
    }
    &.underline {
      border-bottom: 0.1rem solid map-get($colorGroup, 'gray-030');
    }
  }
}
