@function ptr($size) {
  @return (
    font-size: $size*0.1rem,
    line-height: $size*0.14rem
  );
}
body {
  .heading {
    &_36 {
      @each $property, $value in ptr(36) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_32 {
      @each $property, $value in ptr(32) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_30 {
      @each $property, $value in ptr(30) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_28 {
      @each $property, $value in ptr(28) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_26 {
      @each $property, $value in ptr(26) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
  }

  .title {
    &_24 {
      @each $property, $value in ptr(24) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_22 {
      @each $property, $value in ptr(22) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_20 {
      @each $property, $value in ptr(20) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_18 {
      @each $property, $value in ptr(18) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_16 {
      @each $property, $value in ptr(16) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_14 {
      @each $property, $value in ptr(14) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
    &_13 {
      @each $property, $value in ptr(13) {
        #{$property}: #{$value};
      }
      font-weight: 700;
    }
  }

  .text {
    &_18 {
      @each $property, $value in ptr(18) {
        #{$property}: #{$value};
      }
    }
    &_16 {
      @each $property, $value in ptr(16) {
        #{$property}: #{$value};
      }
    }
    &_14 {
      @each $property, $value in ptr(14) {
        #{$property}: #{$value};
      }
    }
    &_13 {
      @each $property, $value in ptr(13) {
        #{$property}: #{$value};
      }
    }
    &_12 {
      @each $property, $value in ptr(12) {
        #{$property}: #{$value};
      }
    }
    &_11 {
      @each $property, $value in ptr(11) {
        #{$property}: #{$value};
      }
    }
    &_10 {
      @each $property, $value in ptr(10) {
        #{$property}: #{$value};
      }
    }
  }

  .button {
    &_16 {
      @each $property, $value in ptr(16) {
        #{$property}: #{$value};
      }
      @media (min-width: 1100px) {
        @each $property, $value in ptr(18) {
          #{$property}: #{$value};
        }
      }
    }
    &_14 {
      @each $property, $value in ptr(14) {
        #{$property}: #{$value};
      }
    }
    &_12 {
      @each $property, $value in ptr(12) {
        #{$property}: #{$value};
      }
    }
    &_11 {
      @each $property, $value in ptr(11) {
        #{$property}: #{$value};
      }
    }
    &_10 {
      @each $property, $value in ptr(10) {
        #{$property}: #{$value};
      }
    }
  }
}