.bg-whilte {
  background-color: #ffffff;
}

.txt-whilte {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.txt-black {
  color: #000000;
}

.bg-blue-050 {
  background-color: #EBF0FF;
}

.txt-blue-050 {
  color: #EBF0FF;
}

.bg-blue-100 {
  background-color: #DAE2FF;
}

.txt-blue-100 {
  color: #DAE2FF;
}

.bg-blue-200 {
  background-color: #91A8FF;
}

.txt-blue-200 {
  color: #91A8FF;
}

.bg-blue-300 {
  background-color: #476EFF;
}

.txt-blue-300 {
  color: #476EFF;
}

.bg-blue-400 {
  background-color: #0046FF;
}

.txt-blue-400 {
  color: #0046FF;
}

.bg-blue-500 {
  background-color: #143898;
}

.txt-blue-500 {
  color: #143898;
}

.bg-red-050 {
  background-color: #FFEBEB;
}

.txt-red-050 {
  color: #FFEBEB;
}

.bg-red-100 {
  background-color: #FFCCCC;
}

.txt-red-100 {
  color: #FFCCCC;
}

.bg-red-200 {
  background-color: #FF847F;
}

.txt-red-200 {
  color: #FF847F;
}

.bg-red-300 {
  background-color: #FF4B44;
}

.txt-red-300 {
  color: #FF4B44;
}

.bg-red-400 {
  background-color: #DA1D1D;
}

.txt-red-400 {
  color: #DA1D1D;
}

.bg-red-500 {
  background-color: #AF0000;
}

.txt-red-500 {
  color: #AF0000;
}

.bg-orange-050 {
  background-color: #FFEBE6;
}

.txt-orange-050 {
  color: #FFEBE6;
}

.bg-orange-100 {
  background-color: #FFC7BA;
}

.txt-orange-100 {
  color: #FFC7BA;
}

.bg-orange-200 {
  background-color: #FF866A;
}

.txt-orange-200 {
  color: #FF866A;
}

.bg-orange-300 {
  background-color: #F85F3C;
}

.txt-orange-300 {
  color: #F85F3C;
}

.bg-orange-400 {
  background-color: #F1461F;
}

.txt-orange-400 {
  color: #F1461F;
}

.bg-orange-500 {
  background-color: #C52500;
}

.txt-orange-500 {
  color: #C52500;
}

.bg-yellow-050 {
  background-color: #FFF6E3;
}

.txt-yellow-050 {
  color: #FFF6E3;
}

.bg-yellow-100 {
  background-color: #FFDC97;
}

.txt-yellow-100 {
  color: #FFDC97;
}

.bg-yellow-200 {
  background-color: #FFC147;
}

.txt-yellow-200 {
  color: #FFC147;
}

.bg-yellow-300 {
  background-color: #FFA800;
}

.txt-yellow-300 {
  color: #FFA800;
}

.bg-yellow-400 {
  background-color: #E08600;
}

.txt-yellow-400 {
  color: #E08600;
}

.bg-yellow-500 {
  background-color: #B16A00;
}

.txt-yellow-500 {
  color: #B16A00;
}

.bg-green-050 {
  background-color: #E0F4EF;
}

.txt-green-050 {
  color: #E0F4EF;
}

.bg-green-100 {
  background-color: #AEE7DA;
}

.txt-green-100 {
  color: #AEE7DA;
}

.bg-green-200 {
  background-color: #44CFAD;
}

.txt-green-200 {
  color: #44CFAD;
}

.bg-green-300 {
  background-color: #17A381;
}

.txt-green-300 {
  color: #17A381;
}

.bg-green-400 {
  background-color: #09634D;
}

.txt-green-400 {
  color: #09634D;
}

.bg-green-500 {
  background-color: #004534;
}

.txt-green-500 {
  color: #004534;
}

.bg-bg-light-gray {
  background-color: #F8F8F8;
}

.txt-bg-light-gray {
  color: #F8F8F8;
}

.bg-bg-warm-gray {
  background-color: #F6F6F6;
}

.txt-bg-warm-gray {
  color: #F6F6F6;
}

.bg-gray-030 {
  background-color: #EEEEEE;
}

.txt-gray-030 {
  color: #EEEEEE;
}

.bg-gray-040 {
  background-color: #DDDDDD;
}

.txt-gray-040 {
  color: #DDDDDD;
}

.bg-gray-050 {
  background-color: #CCCCCC;
}

.txt-gray-050 {
  color: #CCCCCC;
}

.bg-gray-060 {
  background-color: #AAAAAA;
}

.txt-gray-060 {
  color: #AAAAAA;
}

.bg-gray-070 {
  background-color: #888888;
}

.txt-gray-070 {
  color: #888888;
}

.bg-gray-080 {
  background-color: #666666;
}

.txt-gray-080 {
  color: #666666;
}

.bg-gray-090 {
  background-color: #333333;
}

.txt-gray-090 {
  color: #333333;
}

.bg-dark-gray-050 {
  background-color: #F4F7FC;
}

.txt-dark-gray-050 {
  color: #F4F7FC;
}

.bg-dark-gray-100 {
  background-color: #EDF0F8;
}

.txt-dark-gray-100 {
  color: #EDF0F8;
}

.bg-dark-gray-200 {
  background-color: #D4D8E5;
}

.txt-dark-gray-200 {
  color: #D4D8E5;
}

.bg-dark-gray-300 {
  background-color: #B3B8C9;
}

.txt-dark-gray-300 {
  color: #B3B8C9;
}

.bg-dark-gray-400 {
  background-color: #676D80;
}

.txt-dark-gray-400 {
  color: #676D80;
}

.bg-dark-gray-500 {
  background-color: #494F60;
}

.txt-dark-gray-500 {
  color: #494F60;
}

.bg-dark-gray-600 {
  background-color: #3D4964;
}

.txt-dark-gray-600 {
  color: #3D4964;
}

.bg-dark-gray-700 {
  background-color: #383B5A;
}

.txt-dark-gray-700 {
  color: #383B5A;
}

.bg-dark-gray-800 {
  background-color: #1B1F42;
}

.txt-dark-gray-800 {
  color: #1B1F42;
}