// images
$img-path: '~@/../public/img';
// font
$font: 'Apple SD Gothic Neo';
$font-path: '../fonts';
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

// color
// grayscale
$white: #fff;
$grayeee: #eee;
$grayddd: #ddd;
$grayccc: #ccc;
$graybbb: #bbb;
$grayaaa: #aaa;
$gray999: #999;
$gray666: #666;
$gray555: #555;
$gray333: #333;
$gray111: #111;

// Design Grayscale
$gray050: #ccc;
$gray060: #a8a8a8;
$gray070: #999;
$gray080: #666;
$gray090: #333;
$black: #000;

// primary
$primary1: #6433f0; // violet100
$primary2: #488be2;
$primary3: #622CFF;

// sub
$secondary1: #f5f5f5;
$pink: #ff005c; // pink100
$yellow: #fac917; // yellow

// background
$bg1: #f8f8f8; // bg_warm gray
$bg2: #f5f5f5; // bg_light gray
$bg3: #eff0ff; // bg_light blue
$bg4: #f6f6f6;
$bg5: #ededf3;

// line
$line1: #ddd;
$line2: #eee;
$line3: #d3d3d3;
$line4: #f6f6f6;
$line5: #ccc;

// text
$text1: $black;
$text2: $gray090; // #333
$text3: $gray080; // #666
$text4: $gray070; // #999
$text5: $gray060; // #a8a8a8
$text6: $graybbb;

// status
$active1: #2e4295;
$active2: #6b737d;
$active3: #eaeeff;

$disabled1: $bg2;
$disabled2: #d2d8e0;
$disabled3: $grayccc;

$error1: #f33841;

// dimed
$dim1: rgba($black, 0.85);

// media query
$breakpoint-mobile: 480px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;